*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins';
}
.head{
background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );


    height:90px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    color:white;
    cursor: pointer;
    margin:30px 30px 30px 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 19px;
    flex-grow: 1; 
}
.btn:hover{
    background-color: rgb(184, 179, 179); 
}
#generator:hover{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.array_space{
    width:700px;
    height: 400px;
    position: relative;
    margin: auto;
    margin-top: 50px;
   border-style: solid;
}
.bar{
    width: 4%;
    position:absolute;
    left:5%;
    bottom: 0;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.2s all ease;
    text-align: center;
}
.markings{
 
    width:50%;
    font-size: 100%;
}